.keys {
  display: flex;
  justify-content: center;
  margin:16px auto;
}


.key {
  border:3px solid black;
  border-radius: 6px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  width:100px;
  text-align: center;
  color:white;
  background: rgba(0,0,0,0.4);
  transition:all 0.07s;
}

.playing {
  transform: scale(1.1);
  border-color: #bf8578;
  box-shadow: 0 0 10px #baaeaa;
}

kbd {
  display:block;
  font-size: 40px;
}
